<div class="radio-main">
    <div id="tier1-outer" class="b-r">
        <div id="tier1-wrapper">
            <div class="t1-content" data-tabbar-target="true" data-tabtype="onair">
                <div class="app-top">
                    <div id="media-player" style="height:200px;width:360px;"></div>
                    <div class="details"></div>

                </div>
                <div class="app-bottom">
                    <div class="thread-wrapper"></div>
                </div>

            </div>
        </div>
    </div>
</div>
