<a href="#" title="Listen to {{title}}" >
<div class="radio3logo"></div>
	<div class="thread-text thread-{{cid}}">
		<span class='thread-header'>{{title}}</span>
		<span class='thread-footer'>THREAD</span>
	</div>
</a>
<div class="items">
<span class="playhead"></span>
</div>