$threadHeight: 60px;
div.app-top, div.app-bottom {
    width: 600px;
}
div.app-top {

    padding: 20px !important;
    width: 680px;
    #media-player {
        margin: 0 !important;
        position: relative;
        left: 0px;

    }
    .details {
        width : 300px;
        vertical-align: top;
        padding-left: 10px;
        .title {
            font-weight: bold;
            font-size: 20px;
        }
        .composer {
            font-style: italic;
            font-size: 15px
        }
        .description {
            padding-top: 40px;
        }
    }
    #media-player, .details {
        display: inline-block;
    }
}
.thread-wrapper {
    .radio3logo{
        display: inline-block;
        height: 60px;
        width: 60px;
        background: url(../images/radio_three_logo80.png) no-repeat;
        background-size: 60px 60px;
    }
    width: 780px;
    .isActive {
        background: #F54897 !important;
        color: white !important;
        &.item {
            font-weight: bold;
        }
    }
    div a {
        color: #444;
        display: block;
        height: 100%;
        width: 100%;
        &:hover {
                    background: #F54897;
                }
    }
    .thread {
        .items {
            width: 574px;
            right: 0;
            left: -50px;
            position: relative;
            display: inline-block;
            overflow: hidden;
        }
        position: relative;
        padding-bottom: 5px;
        img {
            height: 60px;
        }
        .thread-text {
              width: 60px;
              position: absolute;
              top: 8px;
              left: 75px;
              padding: 2px;
            .thread-header {
                display: block;
                font-weight: bold;
                font-size: 20px;
            }
        }
        .playhead {
            transition-property: all;
            transition-duration: 1s;
            transition-timing-function: linear;
            height: $threadHeight;
            width: 50px;
            position: absolute;
            top: 0;
            left: -50px;
            background: url(../images/play-head.png);
            z-index: 1;
        }
        > a {
            display: inline-block;
            width: 200px;
            height: $threadHeight;
            // background: #818285;
            z-index: 0;
        }
        width: 100%;
        .item {
            background: white;
            display: inline-block;
            width: 190px;
            border-left: 1px solid #666;
            height: $threadHeight;
            line-height: 60px;
            text-align: center;
            &:first-child {
                border-left: none;
            }
        }
        &.live-thread a {
            // background-image: url(../images/live.png);
        }
        &.gold-thread a {
            // background-image: url(../images/gold.png) no-repeat;
        }
        &.silk-thread a {
            // background-image: url(../images/silk.png) no-repeat;
        }
        &.leon-thread a {
            // background-image: url(../images/neon.png) no-repeat;
        }
    }

}
