/* line 2, ../../app/styles/main.scss */
div.app-top, div.app-bottom {
  width: 600px;
}

/* line 5, ../../app/styles/main.scss */
div.app-top {
  padding: 20px !important;
  width: 680px;
}
/* line 8, ../../app/styles/main.scss */
div.app-top #media-player {
  margin: 0 !important;
  position: relative;
  left: 0px;
}
/* line 14, ../../app/styles/main.scss */
div.app-top .details {
  width: 300px;
  vertical-align: top;
  padding-left: 10px;
}
/* line 18, ../../app/styles/main.scss */
div.app-top .details .title {
  font-weight: bold;
  font-size: 20px;
}
/* line 22, ../../app/styles/main.scss */
div.app-top .details .composer {
  font-style: italic;
  font-size: 15px;
}
/* line 26, ../../app/styles/main.scss */
div.app-top .details .description {
  padding-top: 40px;
}
/* line 30, ../../app/styles/main.scss */
div.app-top #media-player, div.app-top .details {
  display: inline-block;
}

/* line 34, ../../app/styles/main.scss */
.thread-wrapper {
  width: 780px;
}
/* line 36, ../../app/styles/main.scss */
.thread-wrapper .isActive {
  background: #F54897 !important;
  color: white !important;
}
/* line 39, ../../app/styles/main.scss */
.thread-wrapper .isActive.item {
  font-weight: bold;
}
/* line 43, ../../app/styles/main.scss */
.thread-wrapper div a {
  color: #444;
  display: block;
  height: 100%;
  width: 100%;
}
/* line 48, ../../app/styles/main.scss */
.thread-wrapper div a:hover {
  background: #bababa;
}
/* line 52, ../../app/styles/main.scss */
.thread-wrapper .thread {
  position: relative;
  padding-bottom: 5px;
  width: 100%;
}
/* line 53, ../../app/styles/main.scss */
.thread-wrapper .thread .items {
  width: 720px;
  right: 0;
  position: relative;
  display: inline;
  overflow: hidden;
}
/* line 62, ../../app/styles/main.scss */
.thread-wrapper .thread img {
  height: 60px;
}
/* line 65, ../../app/styles/main.scss */
.thread-wrapper .thread .thread-text {
  width: 60px;
  position: absolute;
  top: 0;
  left: 75px;
}
/* line 70, ../../app/styles/main.scss */
.thread-wrapper .thread .thread-text .thread-header {
  display: block;
  font-weight: bold;
  font-size: 20px;
}
/* line 76, ../../app/styles/main.scss */
.thread-wrapper .thread .playhead {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: linear;
  height: 60px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/play-head.png);
  z-index: 1;
}
/* line 88, ../../app/styles/main.scss */
.thread-wrapper .thread > a {
  display: inline-block;
  width: 144px;
  height: 60px;
  float: left;
  z-index: 0;
}
/* line 97, ../../app/styles/main.scss */
.thread-wrapper .thread .item {
  background: white;
  display: inline-block;
  width: 190px;
  border-left: 1px solid #666;
  height: 60px;
}
